@font-face {  
  font-family: 'DinPro';
  src: url('~@/assets/fonts/DinPro.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DinPro';
  src: url('@/assets/fonts/DinPro-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'DinPro';
  src: url('@/assets/fonts/DinPro-Medium.ttf');
  font-weight: 500;
  font-style: normal;
}